.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 200px;
    height: 200px;
    background-color: #f68e5f;
    transition: height 2s;
}

.double {
    height: 400px;
}